<h2>Log In</h2>

<div class="blocks hours-main-block">
<% if logged_in? == true %>
  <div class="block">
    An employee, <strong><%= current_employee.names %></strong> is already logged in.<br>
    <%= link_to "Jump to Home", home_path %>
  </div>
<% end %>
<%= render 'employees/login_form', current_employee: @emp %>
</div>