
<h1><%= "#{@status.capitalize} attendances" %></h1>
<div class="grids" style="display: flex">
	<% for employee in @employees %>
		<% @attendances = employee.attendances %>
		<div class="grid">
			<div class="blocks hours-main-block">
			  <div class="block">
					<p>For <strong><%= link_to employee.names, admin_employee_path(employee) %></strong></p>
				</div>
			</div>
			<%= render 'attendances/show', attendances: @attendances, new_day: @new_day, old_day: @old_day %>
		</div>
	<% end %>
</div>

<br>
<% content_for :panel do %>panel<% end %>