<h1>Help</h1>
<p>This is an overview of what RwarriMS can do. <b>Note: </b>This doesn't show how to do the things, it will be done when RwarriMS becomes more famous. </p>
<strong><u>Before Reading This</u> , you need to read the <a href="#bottom">Bottom Notes</a>, they contain techical details and some good things to know, <em>Please Read the bottom notes before doing anything with RwarriMS for the first time.</em></strong>
<h2>Employee</h2>
<p>An Employee can log in, create an account, view and edit his profile and access RwarriMS in general.</p>
<p>There is a special kind of Employees called Administators or simply Admins, who supervise all what other Employees do, their role is discussed <a href="#admin">later on.</a></p>

<h2>Attendances</h2>
<p>Attendances is used to manage working hours. It is still in an early stage and some features are not available.</p>
<p>To check in or out means to enter or leave work, respectively.</p>
<h4>Status</h4>
<p>This show if you are currently checked in or out. It also show you when you checked in or out.</p>
<h4>Log</h4>
<p>This shows the weekly attendances that you made but you can configure it to show other days. </p>
<p><strong>How it works.</strong> The system will start looking for attendances from the start of the month specified or the week then show all attendances that happened in that week or month.
</p>

<h2>Documents</h2>
<p>Documents allow Employees to upload documents and then recover them after.</p>
<h4>The Process</h4>
<p>Documents must be approved before they can be seen by anyone, so you upload a document by providing a <em>title</em> and then wait for Administators to approve it, then anyone can see it then.</p>
<p>You can show a document for seeing all it's details, download it, edit it and delete it.</p>

<h2>Leaves</h2>
<p>A leave is a demand to be not working for some time. A leave has a start date and an end date, which are both in the future and an <em>Expected to be at workplace date</em> which show the working day (not Weekends or Public weekend) where normal work will continue. All leave must be recommended by an Admin and approved by an Executive Officer.</p>

<h2>Me</h2>
<p>Me, or Profile shows the current logged in employee's details like <em>names, email, ID card and Position</em>. It also show links to Edit and Change Password as well as Log Out.</p>

<h2>Sessions</h2>
<p>Sessions show when you were logged out and the device type and when it was last updated.</p>
<p>You can also log out on these devices or log out of all devices.</p>

<h1 id="admin">Administration</h1>
<p>RwarriMS provides some Administration features, which help to manage the Employees.</p>

<h2>Employees</h2>
<p>Employee management is straighforward: You can do what the Employee can do on his account; You can edit his details, change his password and even delete him.</p>

<h2>Documents & Leaves</h2>
<p>Documents and Leaves are managed by being accepted; that is: You apply for a leave or post a documment, then an admin can approve it. There is a special case of leaves where Admins only recommend the leave, the Executive Officer is the actual one to approve it.</p>
<p>The Admins may also see the leaves or documents, edit them and delete them.</p>

<h2>Attendances</h2>
<p>The Only thing that Admins can do is: view your log, nothing else.</p>

<h1 id="bottom">Bottom Notes</h1>
<p>RwarriMS is <strong>proprietary</strong> software, to use it, you pay first.</p>
<p>The source code is <em>never</em> disclosed.</p>
<p>RwarriMS is <strong>incomplete</strong> and may <strong>work improperly</strong></p>
<h4>Terms</h4>
<ul>
	<li>RwarriMS is proprietary and paid, you only use it when paid.</li>
	<li>RwarriMS' developers can actually only host it, no one else, RwarriMS only hosts on Heroku because it is highly reliable.</li>
	<li>RwarriMS is in <strong>beta</strong> stage, It may not function properly because we are actually developing it actively, <em>Don't</em> use this unless you know what you are doing, because it may crash anytime, all data may be lost, <strong>no warranty.</strong> When it leaves beta stage, you will actually know.</li>
	<li>RwarriMS is open to contributors, contributors get their piece pf all the sales, contact us to know more.</li>
</ul>
<h4>Needed features</h4>
<ul>
	<li>Documents: to see what you uploaded</li>
	<li>Help: Ask a question, add new features</li>
	<li>More: Coming</li>
</ul>
<h4>Developer</h4>
<p>vix_alien</p>
<p><kbd>&lt;&gt;</kbd> with ♥ by 👽. (©)</p>
<p>I am a software developer who work with the best, works primitively and wants profit, anything to tell me, I'm right there.</p>
<a href="https://www.github.com/vixalien">Github</a>
<a href="https://www.instagram.com/vix_alien">Instagram</a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>