<h1>Home</h1>
<p>
	<h3>Attendance</h3>
	<span>Currently out</span>
</p>
<p>
	<h3>Leaves</h3>
	<span>1 accepted leave, 2 pending leaves</span>
</p>
<p>
	<h3>Documents</h3>
	<span>3 documents available</span>
</p>
<p>
	<h3>Me</h3>
	<span>Logged In as <strong><%= current_employee.names %></strong></span>
</p>