<h2>Leave</h2>

<div class="blocks hours-main-block">
<div class="block leave-block">
	
<%= render 'admin_show_leave', leave: @leave %>

<br>
<button><%= link_to 'Edit', edit_admin_leave_path(@leave) %> </button>
<button><%= link_to 'Recommend/Approve', recommend_admin_leave_path(@leave) %> </button>
<button><%= link_to 'Back', admin_leaves_path %></button>
</div>

</div>
