<h1>New Document</h1>

<div class="blocks hours-main-block">
  <div class="block leave-block">
  	<%= render 'form', document: @document %>
  </div>
</div>


<% content_for :panel do %>
<ul class="menu">
	<li><%= link_to 'Back', documents_path %></li>
</ul>
<% end %>
<% content_for :panel_type do %>inline<% end %>
