<h1>Editing Document</h1>

<%= render 'form', document: @document %>


<% content_for :panel do %>
<ul class="menu">
	<li><%= link_to 'Show', admin_document_path(@document) %></li>
  <li><%= link_to 'Back', admin_documents_path %></li>
</ul>
<% end %>
<% content_for :panel_type do %>inline<% end %>
