<h1>Editing Document</h1>

<%= render 'form', document: @document %>


<% content_for :panel do %>
<%= link_to 'Show', admin_document_path(@document) %> |
<%= link_to 'Back', admin_documents_path %>
<% end %>
<% content_for :panel_type do %>inline<% end %>
